.add_form {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    /* display: none; */
}

.add_form:after {
    content: "";
    display: table;
    clear: both;
}

.column {
    float: left;
    margin-right: 10px;
}