.individual_box {
    width: 200px;
    height: auto;
    border-radius: 10px;

}

.box_header {
    display: flex;
    /* 子元素垂直居中 */
    align-items: center;
    /* 子元素左右对齐 */
    justify-content: space-between;
    padding: 10px;
    height: 30px;
    margin-bottom: 5px;
    background-color: aquamarine;

}

.individualBox-left {
    display: flex;
    /* 子元素垂直居中 */
    align-items: center;
    color: #333;
}

.staff_name {
    margin-right: 10px;
}

.add_new {
    text-decoration: none;
    color: #333;
}